h1{
    align-self: start;
    background-color: black;
    color: coral;
    text-align: center;
}

h2{
    background-color: chocolate;
    color: antiquewhite;
    text-align: right;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}